.main{
    font-family: arial;
   
    .category-title{
        font-family: Arial;
        color:rgb(157, 157, 239);
        // border: 1px solid white;
        display: block;
        margin-bottom: 10px;
    }

  
}