.add-form{
    position: relative;
    bottom: 0%;
    #title{
        background-color :rgb(16, 15, 15); 
        border: 3px solid rgb(157, 157, 239);
        width: 97%;
        height: 2em;
        margin-bottom: 1em;
        margin-top: 0.5em;
        font-size: 20px;
        color: white;
    }
    #discription{
        background-color :rgb(16, 15, 15); 
        border: 3px solid  rgb(157, 157, 239);
        width: 97%;
        font-size: 25px;
        margin-bottom: 1em;
        color: white;
    }
    .dueDate-remider{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        overflow: hidden;
        gap: 10px;
        margin-bottom: 2em;
        .dueDate-title{
            font-family: Arial;
            color:rgb(157, 157, 239);
            display: block;
            margin-bottom: 10px;
            // border: 1px solid white;
        }
        #due-date{
            border-radius: 10px;
            // background-color: rgb(16, 15, 15);
            color: rgb(157, 157, 239);
            border: 3px dotted rgb(157, 157, 239);
            padding: 10px;
        }
        #remider-date{
            @extend #due-date
        }
    }
    #add-task{
        font-size: 21px;
        border-radius: 7px;
    padding: 5px;
    width: 100%;
    height: 3em;
    background-color: rgb(157, 157, 239);
    color: white;
    }
    .priority{  
        color:white;
        // border: 1px solid white;
        font-size: 20px;
        // padding: 5px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 1.5em;

        .high,.medium,.low{
            display: flex;
            gap: 10px;
            padding: 5px 10px 5px 10px ;
            background-color: red;
            border-radius: 7px;

            input{
                height: 17px;
                width: 17px;
            }
        }
        .medium{
            background-color: orange;
        }
        .low{
            background-color: green;
        }
    }
}