@use 'Colors';
.back{
    display: flex;
    justify-content: space-between;
    // border: 1px solid white;
    // background-color:  rgb(36, 36, 60);
    margin: 1.5em 0 2.5em 0;
    color:  Colors.$primary-colour;
    border-radius: 2px;
    padding: 5px;
    
    .back-icon{
        fill:  Colors.$primary-colour;
        height: 20px;
        width: 20px;
    }
    .new-task{
        font-size: 20px;
    }

}
@media screen and (min-width: 1063px) and (max-width:2000px) {
    .back{
        width:calc(100% - 2.5em);
        margin: 1.5em 0 2.5em 2.5em;
    }
}
.discription{
    font-size: 20px;
    color:Colors.$white;
    margin-bottom: 2em;
}
@media screen and (min-width: 1063px) and (max-width:2000px) {
    .discription{
        // width: calc(100%-2.5em);
        margin-left:2.5em;
    }
}

