@use 'Colors';
.back{
    display: flex;
    justify-content: space-between;
    // border: 1px solid white;
    // background-color:  rgb(36, 36, 60);
    margin: 1.5em 0 2.5em 0;
    color:  Colors.$primary-colour;
    border-radius: 2px;
    padding: 5px;
    
    .back-icon{
        fill:  Colors.$primary-colour;
        height: 20px;
        width: 20px;
    }
    .new-task{
        font-size: 20px;
    }

}
.discription{
    font-size: 20px;
    color:white;
    margin-bottom: 2em;
}

